.stripes{
    background-color: #b2e1d7;
    opacity: 1;
    background-image: linear-gradient(90deg, #eaedd9 25%, transparent 26%, transparent 49%, #eaedd980 50%, #eaedd980 75%, transparent 76%);
    background-position: initial;
    background-size: 100px 100px;
}